.TagButton {
  position: relative;
  display: inline-block;

  margin-left: 1em;
  height: 1.6rem;

  padding-left: 0.6rem;
  padding-right: 1.6rem;

  border: none;
  border-radius: 1rem;

  background-color: #ccc;
  color: #333;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;

  &:hover {
    background-color: #aaa;
  }
}

.TagButton:before {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;

  width: 1rem;
  height: 1rem;
  line-height: 0.9rem;

  border-radius: 1.5em;

  content: "×";

  background-color: #888;
  color: #ccc;

  text-align: center;
}
