@font-face {
  font-family: "Maxeville-Construct";
  src: //
    url("/fonts/Maxeville-Construct/Maxeville-Construct.woff") format("woff"),
    url("/fonts/Maxeville-Construct/Maxeville-Construct.woff2") format("woff2"),
    url("/fonts/Maxeville-Construct/Maxeville-Construct.eot") format("eot");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Maxeville-Regular";
  src: //
    url("/fonts/Maxeville-Regular/Maxeville-Regular.woff") format("woff"),
    url("/fonts/Maxeville-Regular/Maxeville-Regular.woff2") format("woff2"),
    url("/fonts/Maxeville-Regular/Maxeville-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@mixin content-block {
  display: block;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@mixin button {
  color: black;
  background-color: white;

  border: none;

  min-width: 50px;
  padding: 0;
  // width: 50px;
  height: 50px;
  border-radius: 25px;

  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:hover {
    background-color: #efe;
  }
  &:active {
    background-color: #cfc;
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  transition: opacity 0.5s ease-in-out;
}

.content-block {
  @include content-block;
}

$z-ui: 100;

.image-block-hack > span {
  display: block !important;
}

.no-scroll {
  // border: 1px solid red;
  overflow: hidden;
}

.input-group {
  label {
    display: block;
    font-size: 0.75em;
  }

  input[type="text"],
  input[type="date"],
  input[type="search"] {
    width: 100%;
  }
  input[type="checkbox"] {
    float: left;
    margin-right: 0.5em;
  }
  + .input-group {
    margin-top: 0.5em;
  }
}

input.date,
input.search {
  border: 1px solid #ccc;
  border-radius: 2px;
}

input.search:not(:placeholder-shown)::-webkit-search-cancel-button {
  opacity: 1 !important;
}
