@font-face {
  font-family: "Maxeville-Construct";
  src: url("/fonts/MaxevilleTrial-Construct.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@mixin content-block {
  display: block;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@mixin button {
  color: white;
  background-color: black;
  padding: 2em;
  border: none;
  cursor: pointer;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.content-block {
  @include content-block;
}
