$z-ui: 100;

@font-face {
  font-family: "Maxeville-Construct";
  src: //
    url("/fonts/Maxeville-Construct/Maxeville-Construct.woff") format("woff"),
    url("/fonts/Maxeville-Construct/Maxeville-Construct.woff2") format("woff2"),
    url("/fonts/Maxeville-Construct/Maxeville-Construct.eot") format("eot");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Maxeville-Regular";
  src: //
    url("/fonts/Maxeville-Regular/Maxeville-Regular.woff") format("woff"),
    url("/fonts/Maxeville-Regular/Maxeville-Regular.woff2") format("woff2"),
    url("/fonts/Maxeville-Regular/Maxeville-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Maxeville-Tekst";
  src: //
    url("/fonts/Maxeville-Tekst/Maxeville-Tekst.woff") format("woff"),
    url("/fonts/Maxeville-Tekst/Maxeville-Tekst.woff2") format("woff2"),
    url("/fonts/Maxeville-Tekst/Maxeville-Tekst.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.font-construct {
  font-family: "Maxeville-Construct", sans-serif;
}

.font-regular {
  font-family: "Maxeville-Regular", sans-serif;
}

.font-tekst {
  font-family: "Maxeville-Tekst", sans-serif;
}

@mixin content-block {
  display: block;
  // max-width: 800px;
  margin-left: 20px;
  margin-right: 20px;
}

.content-block {
  @include content-block;
}

@mixin button {
  color: black;
  background-color: white;

  border: none;

  min-width: 50px;
  padding: 0;

  height: 50px;
  border-radius: 25px;

  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:hover {
    // background-color: #efe;
  }
  &:active {
    // background-color: #cfc;
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  transition: opacity 0.5s ease-in-out;
}
