.table {
    border-spacing: 0;
}

.table thead {
    background: black;
    color: white;
}

.table thead th {
    text-align: left;
    padding: 5px 10px;
}

.table td {
    padding: 5px 10px;
}

.table tbody tr{
    background: #efe;
    vertical-align: top;
}

.table tbody tr:nth-child(2n) {
    background: #fff;
}