.table {
    border-spacing: 0;
    margin-top: 1em;
}

.table thead {
    background: #333;
    color: white;
    position: sticky;
    top: 0;
}

.table thead th {
    font-weight: normal;
    text-align: left;
    padding: 0px 1.5em 0px .5em;
}
.table thead th:last-child {
    /* width: 100%; */
}

.table td{
    padding: .5em 1.5em .5em .5em;
}

.table tbody tr{
    background: #eee;
    vertical-align: top;
}

.table tbody tr:nth-child(2n) {
    background: #fff;
}