.message {
  h1 {
    font-family: "Maxeville-Construct";
    font-size: 240px;
    font-weight: normal;
    line-height: 1;
  }

  p {
    font-family: "Maxeville-Regular";
    font-size: 30px;
    font-weight: normal;
    line-height: 1.25;

    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    max-width: 16em;
  }

  p:first-child {
    margin-top: 184px;
  }
}
