$option-border-radius: 20px;

.question {
  //   border: 10px solid red;
  margin-left: 2em;
  margin-right: 2em;
  max-width: 960px;
  + .question {
    margin-top: 1em;
  }
}

.number {
  margin-top: 1em;

  font-family: "Maxeville-Construct";
  font-size: 70px;
  font-weight: 400;
  line-height: 84px;
}

.prompt {
  margin-top: 1em;

  font-family: "Maxeville-Regular";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.instruction {
  display: inline-block;
  margin-top: 1em;

  border: 1.5px solid black;
  border-radius: 15px;
  padding: 4px 8px;

  font-family: "Maxeville-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.options {
  padding-left: 0;
}

.option {
  margin-top: 0.75em;
  position: relative;
  // padding: 1em;

  border-radius: $option-border-radius;

  font-family: "Maxeville-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  cursor: pointer;

  background-color: white;

  overflow: hidden;

  &.selected {
    background-color: #efe;
    border-color: black;
  }

  transition: all 0.15s ease-in-out;

  + .option {
    margin-top: 0.5em;
  }

  &:first-child {
    counter-reset: listStyle;
  }
  &::before {
    counter-increment: listStyle;
    // content: counter(listStyle, upper-alpha) ": ";
  }

  &:last-child {
    margin-bottom: 5em;
  }
}

.optionText {
  // border: 10px solid red;
  padding: 0.75em 0.75em;
}

// span is the wrapper created by Next.js Image
span + .optionText {
  padding-top: 0.5em;
  padding-bottom: 0.75em;
}

.optionBorder {
  position: absolute;
  inset: 0;
  z-index: 1;

  border-radius: $option-border-radius;
  border: 1.5px solid black;

  pointer-events: none;

  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  .selected & {
    opacity: 1;
  }
}

.checkbox {
  display: none;

  //   height: 16px;
  //   width: 16px;
  //   border: 1px solid black;
  //   border-radius: 3px;
  //   display: inline-block;
  //   margin-right: 10px;
  //   position: relative;
  //   // top: 2px;

  //   .selected & {
  //     background: black;
  //   }
}
