.QuestionBarChart {
  background-color: #d5d6d7;
  width: 100%;
  height: 100vh;
  display: flex;

  font-family: "Maxeville-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 1;

  transition: opacity 1000ms;

  * {
    font-weight: normal;
    line-height: 1.1;
  }
}

.PromptWrap {
  width: 33.3333%;
  padding: 20px 20px 0 20px;
}

.OptionsWrap {
  padding: 0 20px 0 20px;
  width: 66.6666%;

  position: absolute;
  bottom: 0;
  right: 0;
}

.OptionBar {
  position: relative;

  // the option plus margins should be 1/6 * 1080 = 180
  // they need to line up so they don't cross the bezel
  // on the 3x3 tv matrix

  height: 160px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 10px;
  }

  border-radius: 80px;
  background: white;

  overflow: hidden;
}

.Filled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;

  // background-color: #f4efe7;
  background-color: #8391a5;
  border-radius: 80px;
}

.Response {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 60px;
  max-width: 75%;
  z-index: 2;

  line-height: 160px;
  font-size: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Percent {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 40px;
  z-index: 3;

  line-height: 160px;
  font-size: 80px;
  opacity: 0.5;
}
