.Result {
  background-color: #ddd;
  width: 100%;
  height: 100vh;
  display: flex;

  font-family: "Maxeville-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 1;
}

.QuestionWrap {
  width: 40%;
  padding: 1vw 2vw 1vw 1vw;
}
.ChartWrap {
  padding: 1vw 1vw 1vw 4vw;
  width: 60%;
}

.Option {
  font-size: 0.75em;
  margin-top: 1em;

  border: 1.5px solid black;
  border-radius: 1em;
  padding: 0.5em;

  background-color: white;
  &:first-of-type {
    background-color: #cfc;
  }

  + .Option {
    margin-top: 0.5em;
  }
}
