// .ShowData {
// }

.Title {
  margin-top: 1em;
  padding: 0 0.5em;
  background: #333;
  color: white;
  position: sticky;
  top: 0;
}

.Title button {
  float: right;
  margin-top: 3px;

  background: none;
  color: white;
  border: none;
  font-size: 0.75em;

  cursor: pointer;
}

.Body {
  padding: 0 0.5em;
  background: #eee;
  overflow-x: hidden;
}
