.Table {
  border-spacing: 0;
  margin-top: 1em;
  width: 100%;
}

.Table thead {
  background: #333;
  color: white;
  position: sticky;
  top: 0;
}

.Table thead th {
  font-weight: normal;
  text-align: left;
  padding: 0px 1.5em 0px 0.5em;
}

.Table td {
  padding: 0.5em 1.5em 0.5em 0.5em;
}

.Table tbody tr {
  background: #eee;
  vertical-align: top;
}

.Table tbody tr:nth-child(2n) {
  background: #fff;
}

.clickable {
  text-decoration: underline;
  cursor: pointer;
}
